@media screen and (min-width: 15in) {
    .collabourate{
        position: relative;
        bottom: -1rem;

    }
}
@media screen and (min-width: 13in) and (max-width: 15in) {
        .collabourate{
        position: relative;
        bottom: 1rem;

    }
}
@media screen and (min-width: 11in) {
  /* Your CSS styles for screens greater than 11 inches go here */
}

@media screen and (min-width: 2048px) and (min-height: 1536px) {
    
}