main#carousel {
  transform-style: preserve-3d;
  /* perspective: 600px; */
  --items: 5;
  --middle: 1;
  /* --position: 1; */
  pointer-events: none;
}

div.item {
  position: absolute;
  width: 200%;
  /* height: 110vh; */
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: transform 0.5s linear;
  transform: translateY(calc(1px * var(--r))) rotateY(calc(-10deg * var(--r)))
    translateX(calc(-450px * var(--r)));
  /* z-index: calc((var(--position) - var(--abs))); */
  margin: 0 10rem;
}

div.item:nth-of-type(1) {
  --offset: 1;
}
div.item:nth-of-type(2) {
  --offset: 2;
}
div.item:nth-of-type(3) {
  --offset: 3;
}

.nav-btn {
  background-color: white;
  color: inherit;
  border-radius: 30%;
  z-index: 300;
  /* position: relative;
  bottom: 11rem; */
}

input {
  height: 0;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

input:nth-of-type(1):checked ~ main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
  --position: 3;
}

.inactive {
  filter: blur(1.5px);
  z-index: 0; /* Add this line to set the z-index to 0 for inactive slides */
}

.item.active-slide {
  z-index: 200;
}

#carousel {
  /* grid-row: 1 / 5; */
  /* grid-column: 1 / 8; */
  /* height: 500px; */
  display: flex;
  align-items: baseline;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 1000px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

@media screen and (min-height: 600px) and (max-height: 766px) {
  #carousel {
    height: 60vh;
  }
  #slides {
    height: 50vh;
    width: 18%;
  }
}

@media screen and (min-height: 768px) and (max-height: 799px) {
  #carousel {
    height: 60vh;
  }
  #slides {
    height: 50vh;
    width: 20%;
  }
}
@media screen and (min-height: 800px) and (max-height: 899px) {
  #carousel {
    height: 60vh;
  }
  #slides {
    height: 50vh;
    width: 20%;
  }
}
@media screen and (min-height: 900px) and (max-height: 999px) {
  /* #carousel {
    height: 50vh;
  } */
  #slides {
    height: 50vh;
    width: 30%;
  }
}
@media screen and (min-height: 1000px) and (max-height: 1079px) {
  #carousel {
    height: 70vh;
  }
  #slides {
    height: 50vh;
    width: 30%;
  }
}
@media screen and (min-height: 1080px) and (max-height: 1200px) {
  #carousel {
    height: 60vh;
  }
  #slides {
    height: 50vh;
    width: 30%;
  }
}

@media screen and (min-width: 2560px) {
  .item {
    padding: 0 40rem; 
  }
}


#carousel {
  height: 60vh;
}
#slides {
  height: 50vh;
  width: 15%;
}

